/*
 * CaseReviews extension styles
*/

div.car-summary-header {
	margin-top:-.9em;
	font-size: 90%;
	font-style: italic;
}

<<<<<<< HEAD
.links-list{
	list-style: none;
	margin: 0;
	padding: 0;
=======
.summary-link {

	display: block;
>>>>>>> bd941a32b150df866d0de597d452fd078a603a8b
}

/* .car-entry p br {
	display: none;
} */
