
 .sidenav{
     display:none;
 }
.form-container{
    text-align: center;
}
.car-form-header{
    text-align: center;
    margin-bottom: 5%;
}
input, label{
    display: block;
    height: 30px;
}
input[type="text"]{
    margin-bottom: 3%;
    width: 50%;
    height: 34px;
}
select {
    width: 30%;
    height: 35px;
}
label{
    margin-bottom: 5px;
    font-weight: bolder;
}
textarea{
    width: 75%;
    min-height: 100px;
}
form{
    border: solid;
    padding: 3%;
    width: 80%;
    margin: 0 auto;
}
.checkbox-option, .checkbox-label{
    display:unset;
    height:unset;
}
.checkbox-area{
    margin-bottom: 5%;
}
form#car-form {
    background-color: rgba(55,55,55,0.1);
}
input{
    padding-left:7px;
}
.decision-date input[type="text"]{
    width: 50px;
    display: inline-block;
    margin-right: 10px;
    padding:0px;
}
a.delete-review {
    float: right;
}

@media only screen and (max-width:768px){
    .back-link{
        display:contents;
    }
    input[type="text"]{
        width:100%;
        padding-left:0px;
    }
    textarea{
        width:100%;
    }
    select#select-subject {
        max-width: 100%;
        margin-bottom: 10px;
    }
    #stage-content{
        padding:0px;
    }
    .car-form{
        width:100%;
        border:none;
    }
}